body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #f30779;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #14f040;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.task-text {
    flex: 1;
}

.task-completed {
    text-decoration: line-through;
    color: #888;
}
